@*<script type="text/javascript" src="/js/index_page.js"></script>*@

@model IEnumerable<StuffForSale.Models.Product>

<table class='table table-stripped' id="firstTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Seller</th>
            <th>Date Added</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i = i + 1;
                <tr>
                    <th>@i</th>
                    <th>@item.Name</th>
                    <th>@item.Description</th>
                    <th>@item.Tag.Name</th>
                    <th>@item.Price</th>
                    <th>@item.Quantity</th>
                    <th>@item.User.UserName</th>
                    <th>@item.DateAdded</th>
                    <th>
                        <form  asp-route-id="@item.ProductId" asp-controller="Cart" asp-action="AddToCart" method="post">
                            <button class="btn" type="submit">Add to cart</button>
                        </form>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>