@model StuffForSale.Models.Cart

<table class='table table-sm'>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.CartLinesCollection)
            {
                i = i + 1;
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>@item.GetPrice()</td>
                    <td>
                        <form asp-route-id="@item.Product.ProductId" asp-controller="Cart" asp-action="AddToCart" method="post">
                            <button class='btn' type="submit"><i class="fas fa-plus-square"></i></button>
                        </form>
                    </td>
                    <td>
                        <form asp-route-id="@item.Product.ProductId" asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                            <button class='btn' type="submit"><i class="far fa-minus-square"></i></button>
                        </form>
                    </td>
                    <td>
                        <form asp-route-id="@item.Product.ProductId" asp-controller="Cart" asp-action="RemoveLine" method="post">
                            <button class="btn" type="submit"><i class="fas fa-eraser"></i></button>
                        </form>
                    </td>

                </tr>
            }
            <tr>
                <td colspan="4"></td>
                <th>Quantity Total</th>
                <th>Price Total</th>
                <td colspan="3"></td>

            </tr>
            <tr>
                <td colspan="4"></td>
                <th>@Model.TotalQuantities()</th>
                <th>@Model.TotalValues()</th>
                <td colspan="3"></td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class='row'>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Continue Shopping</a>
            <a class="btn btn-outline-info" asp-controller="Order" asp-action="Checkout">Checkout</a>
            <a class="btn btn-outline-secondary" asp-controller="Cart" asp-action="ClearCart">Clear Cart</a>
        </div>
    </div>
</div>